		<header>
            <div class="logo">
                <a href="/">Nick</a>
            </div>
            <nav id="nav">
                <ul>
                    <li><a href="/home#inicio" onclick="seleccionar()">INICIO</a></li>
                    <li><a href="/home#sobremi" onclick="seleccionar()">SOBRE MI</a></li>
                    <li><a href="/home#skills" onclick="seleccionar()">HABILIDADES</a></li>
                    <li><a href="/home#proyectos" onclick="seleccionar()">PROYECTOS</a></li>
                    <li><a href="/home#contacto" onclick="seleccionar()">CONTACTO</a></li>
                </ul>
            </nav>
            <div class="nav-responsive" onclick="mostrarOcultarMenu()">
                <i class="fa-solid fa-bars"></i>
            </div>
        </header>