<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <title>Proyecto 1</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/estilo.css" />
    <link rel="stylesheet" href="assets/css/proyectos.css"/>
    
</head>
<body>
    <section class="proyectos-cotenedor">
    <!-- MENU ENCABEZADO -->
    <div class="contenedor-header">
        <!-- Nav -->
			{{> navbar}}
    </div>

    <section id="proyectos-resumen" class="proyectos-resumen">
        <div class="contenido-proyecto">
            <h2>Rest Server</h2><br>
            <p>
                Este proyecto es un RestServer donde podemos conectarnos con una base de datos de MongoDB, insertar datos
                a la base de datos, encriptar contraseña y middelware personalizado asi como tambien la creacion de roles.
                Tambien trabaja con ruteos y controladores que trabajan directamente con express en nodejs.

            </p>
            <br>
            <p>
                   
    </section>

    <main class="contenido-principal contenedor ">
        <h3>Imagenes del sitio</h3>

        <ul class="galeria">
            <li>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/HgXF-J2yzNs?si=6rRi4xnK5PyS0dbG" 
                title="YouTube video player" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                allowfullscreen></iframe>
        </ul>

    </section>
        
    </main>
    
    <!-- Footer -->
			{{> footer}}

</body>
</html>