<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <title>Proyecto 1</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/estilo.css" />
    <link rel="stylesheet" href="assets/css/proyectos.css"/>
    
</head>
<body>
    <section class="proyectos-cotenedor">
    <!-- MENU ENCABEZADO -->
    <div class="contenedor-header">
        <!-- Nav -->
			{{> navbar}}
    </div>

    <section id="proyectos-resumen" class="proyectos-resumen">
        <div class="contenido-proyecto">
            <h2>Administrador de citas veterinaria</h2><br>
            <p>Este sitio es un administrador de citas de pacientes para una veterinaria,
                donde debemos ingresar los datos de nuestra mascota tales como nombre,
                tambien debemos ingresar el nombre el propietario y el telefono, tambien se debe
                ingresar fecha y hora y los sintomas de la mascota.
                Cuando se ingresen todos los datos ya podemos crear la cita para despues poder visualizarlo
                en el listado de citas, se pueden editar o eliminar citas.
            </p>
            <br>
            <p>
                Este proyecto fue creado con html css y javascript, trabaja con eventos y DOM scripting
            </p>
            
    </section>

    <main class="contenido-principal contenedor ">
        <h3>Imagenes del sitio</h3>

        <ul class="galeria">
            <li>
                <a href="images/administradordepacientes/1.png">
                    <img src="images/administradordepacientes/1.png" alt="imagen galeria">
                </a>
            </li>

            <li>
                <a href="images/administradordepacientes/2.png">
                    <img src="images/administradordepacientes/2.png" alt="imagen galeria">
                </a>
            </li>

            <li>
                <a href="images/administradordepacientes/3.png">
                    <img src="images/administradordepacientes/3.png" alt="imagen galeria">
                </a>
            </li>

            <li>
                <a href="images/administradordepacientes/4.png">
                    <img src="images/administradordepacientes/4.png" alt="imagen galeria">
                </a>
            </li>

            <li>
                <a href="images/administradordepacientes/5.png">
                    <img src="images/administradordepacientes/5.png" alt="imagen galeria">
                </a>
            </li>

            <li>
                <a href="images/administradordepacientes/6.png">
                    <img src="images/administradordepacientes/6.png" alt="imagen galeria">
                </a>
            </li>
        </ul>

    </section>
        
    </main>
    
    <!-- Footer -->
			{{> footer}}

</body>
</html>