<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <title>Proyecto 1</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/estilo.css" />
    <link rel="stylesheet" href="assets/css/proyectos.css"/>
    
</head>
<body>
    <section class="proyectos-cotenedor">
    <!-- MENU ENCABEZADO -->
    <div class="contenedor-header">
        <!-- Nav -->
			{{> navbar}}
    </div>

    <section id="proyectos-resumen" class="proyectos-resumen">
        <div class="contenido-proyecto">
            <h2>Carrito de compras</h2><br>
            <p>Este proyecto simula un carrito de compras, este sitio web vende cursos y tenemos una serie
                de cursos listados, podemos agregar cualquier curso que queramos para despues poder
                visualizarlo en nuestro carrito de compras, podemos eliminar el curso si quisieramos o vaciar el carrito y volver a 
                agregar los cursos nuevamente.</p>
            <br>
            <p>
                Este proyecto fue creado con html css y javascript, trabaja con eventos y DOM scripting
            </p>
            
    </section>

    <main class="contenido-principal contenedor ">
        <h3>Imagenes del sitio</h3>

        <ul class="galeria">
            <li>
                <a href="images/carritocompra/1.jpg.png">
                    <img src="images/carritocompra/1.jpg.png" alt="imagen galeria">
                </a>
            </li>

            <li>
                <a href="images/carritocompra/2.png">
                    <img src="images/carritocompra/2.png" alt="imagen galeria">
                </a>
            </li>

            <li>
                <a href="images/carritocompra/3.png">
                    <img src="images/carritocompra/3.png" alt="imagen galeria">
                </a>
            </li>

            <li>
                <a href="images/carritocompra/4.png">
                    <img src="images/carritocompra/4.png" alt="imagen galeria">
                </a>
            </li>

            <li>
                <a href="images/carritocompra/5.png">
                    <img src="images/carritocompra/5.png" alt="imagen galeria">
                </a>
            </li>

            <li>
                <a href="images/carritocompra/6.png">
                    <img src="images/carritocompra/6.png" alt="imagen galeria">
                </a>
            </li>


            <li>
                <a href="images/carritocompra/7.png">
                    <img src="images/carritocompra/7.png" alt="imagen galeria">
                </a>
            </li>

            <li>
                <a href="images/carritocompra/8.png">
                    <img src="images/carritocompra/8.png" alt="imagen galeria">
                </a>
            </li>

            <li>
                <a href="images/carritocompra/1.jpg.png">
                    <img src="images/carritocompra/1.jpg.png" alt="imagen galeria">
                </a>
            </li>
        </ul>

    </section>
        
    </main>
    
    <!-- Footer -->
			{{> footer}}

</body>
</html>